$black: #000;
$white: #fff;
$card-background: rgb(243, 241, 241);
$article-title: rgba(34, 34, 34, 0.295);
$keyword-skin: #b47d67;
$navbar-grey: #343a40;
$country-card: rgba(201, 162, 33, 0.226);
$country-card-header: rgba(201, 162, 33, 0.595);
$star: #f7aa31;
$star-rating: #181818;
$available: #9dc125;
$unavailable: #f3615d;
$cart-red: #e41a15;
